html, html * {
  padding: 0px;
  margin: 0px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(180deg, #191A24 17%, #1e1f29 51%, #191a24db 101%, #fb6087 10%);
  background-color: #fb6087;
  height: 100vh;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../../images/bg-stars.svg");
  background-size: 100%;
  width: 100vw;
  height: 80%;
  padding-top: 130px;
}
body .main__header {
  padding-top: 0px;
}
body .main__header h1 {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
}
@media (min-width: 640px) {
  body .main__header h1 {
    font-size: 20px;
  }
}
body .footer {
  background-image: url("../../../images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 20%;
}

.container {
  padding: 25px;
  margin: auto;
}

.main__countdown {
  text-align: center;
  perspective: 400px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.main__countdown *, .main__countdown *:before, .main__countdown *:after {
  box-sizing: border-box;
}

.flip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flip:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.flip > div {
  position: relative;
  overflow: hidden;
  height: 82.5px;
}
.flip__dot {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #1a1a24;
  border-radius: 0.78125em;
  z-index: 5;
  top: 50%;
}
.flip__dot.right {
  right: -4px;
}
.flip__dot.left {
  left: -4px;
}
.flip__card {
  display: block;
  position: relative;
  padding-bottom: 0.78125em;
  font-size: 10vw;
  line-height: 0.95;
}
.flip__name {
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding-top: 10px;
  color: #8486a9;
}

.card__top, .card__bottom, .card__back::before, .card__back::after {
  display: block;
  height: 30px;
  font-size: 32px;
  color: #fb6087;
  filter: brightness(79%);
  background-color: #343650;
  padding: 0;
  line-height: 1.6em;
  border-radius: 4px 4px 0 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 58px;
  transform: translateZ(0);
}
@media (min-width: 375px) {
  .card__top, .card__bottom, .card__back::before, .card__back::after {
    width: 65px;
  }
}
@media (min-width: 640px) {
  .card__top, .card__bottom, .card__back::before, .card__back::after {
    width: 58px;
  }
}
@media (min-width: 1020px) {
  .card__top, .card__bottom, .card__back::before, .card__back::after {
    width: 58px;
  }
}
.card__top {
  height: 40px;
}
.card__bottom {
  position: absolute;
  color: #fb6087;
  top: 55%;
  left: 0;
  filter: brightness(100%);
  background: #343650;
  border-radius: 0 0 4px 4px;
  pointer-events: none;
  overflow: hidden;
}
.card__bottom::after {
  display: block;
  margin-top: -0.78125em;
  content: attr(data-value);
}
.card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}
.card__back::before {
  content: attr(data-value);
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip-animate .card__back::before {
  animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip-animate .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%, 99% {
    opacity: 0.99;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}
@keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0.99;
  }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}

/*# sourceMappingURL=style.css.map */
